
{% extends 'polls/nav.html' %}

{%block home%}
  <li class="nav-item"><a href="/polls/home/all" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="/polls/home/auction" class="nav-link">Auction</a></li>
{%endblock%}
{% block navbar %}
{% if id %}

  <ul class="nav bg-secondary">
  <li style = "text-align:center; color:black; margin-top:8px;" class="nav-item-top">
   Welcome   {{id}}
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/mypage/seller">MyPage</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/index/all">Logout</a>
  </li>
</ul>

{% else %}

  <ul class="nav bg-secondary">
  <li class="nav-item-top">
    <a class="nav-link active" href="#">Damoa First?</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/login">Login</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/signup">Sign Up</a>
  </li>
</ul>

{% endif %}

{% endblock %}
{%block product%}




{%load static%}
<link rel="stylesheet" href="{% static 'bidding/bidding.css'%}">
<div class = "home-container">
    <div id ="myBtnContainer"style="height:45px; padding-bottom:10px;border-bottom: 3px solid; width:100%; display:block;">
        <span><strong style="font-size:32px; padding-right:50px;">Bidding</strong><span style="color:blue;">{{my_product.prod_name}}</span></span>
    </div>
    <div class="home-card">
        <div class="card" style="border-bottom-right-radius:20px; border-bottom-left-radius:20px;width:270px;height:490px">
                <img src="{{ my_product.img.url }}" alt="Denim Jeans" style="width:100%; height:220px;"/>
                <div class="card-body">
                  <div style="item-align:center">
                    <span style="font-size: 18px;font-weight: 500;float:up;"class="card-title" >{{my_product.prod_name}}</span>
                    <span style="font-size:12px; color:grey; float:right">{{my_product.likey}}</span>
                    <i id="icon-{{my_product.prod_id}}"style="color:red; float:right; padding-top : 5px;padding-right:5px"class="far fa-heart fa-1x"></i>
                    
                    
                  </div>
                
                <span style="color:grey;font-size:15px;"class="card-text"aligh="right" class="price"> Start : {{my_product.price}} $</span>
                <span style="font-size:14px;font-weight: 400;"class="card-text"aligh="right" class="price"> / Bid unit : {{my_product.bid_unit}} $</span>
                <div style="font-size:12px;font-weight: 550;"class="card-text" id="place">{{my_product.place}}</div>
                <div style="font-size:14px;font-weight: 500;"class="card-text" style="padding-bottom:10px" id="phone">{{my_product.seller}} / {{my_product.phone}}</div>
                <div style="font-size:14px;font-weight: 400;"class="card-text"aligh="right" class="price"> Start : {{my_product.bid_start}}</div>
                <div style="font-size:14px;font-weight: 400;"class="card-text"aligh="right" class="price">/ End : {{my_product.bid_end}}</div>
                <button style="font-size:15px;background-color:black; width: 100%; margin-top:10px;border:0;border-radius:20px; color:white"id="history" data-toggle="modal" data-target="#exampleModalCenter{{my_product.prod_id}}"><span style="padding-right:10px">Auction History</span><i class="fa fa-history"></i></button>
                  <div class="modal fade" id="exampleModalCenter{{my_product.prod_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Auction History</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div style="width:450px">
                            <table style="width:450px;"class="table table-bordered">
                                            
                                            <tbody>
                                              <tr>
                                                
                                                <th style="font-weight:600"scope="row">Bidder</th>
                                                <td style="font-weight:600">Price</td>
                                                
                                              </tr>
                                              {%for history in auction_history%}
                                              {%if my_product.prod_id == history.prod_id_id%}
                                              <tr>
                                                
                                                <th style="font-weight:500" scope="row">{{history.bid_id_id}}</th>
                                                <td style="font-weight:500">{{history.bid_price}}$</td>
                                                
                                              </tr>
                                              {%endif%}
                                              {%endfor%}
                                              {%if my_product.sold == 1 %}
                                              {%if my_product.now_sold == 1 %}
                                              <tr>
                                                
                                                <th style="font-weight:500" scope="row">{{my_product.now_buyer}}</th>
                                                <td style="font-weight:500">{{my_product.now_price}}$ <span style="font-size:12px"> (Buy Now)</span></td>
                                                
                                              </tr>
                                              {%endif%}
                                              {%endif%}
                                            </tbody>
                                            
                                          </table>
                                          {%if my_product.sold == 1 %}
                                              {%if my_product.now_sold == 1 %}
                                              <span aligh="right" class="endDate"style ="font-size:13px;color: black;font-weight:500"> <span>Sold Out : </span>{{my_product.now_end}}</span>
                                              
                                              {%else%}
                                              <span aligh="right" class="endDate"style ="font-size:13px;color: black;font-weight:500"> <span>Sold Out : </span>{{my_product.bid_end}}</span>
                                              {%endif%}
                                          {%endif%}
                                  
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                <div style="padding-top:20px;">
                {%if not my_product.sold %}
                    <div style="display: inline-block">
                      <button type="button" style="font-size:15px;padding: 8px 10px; width: 100%; opacity: 0.9;"class="btn btn-secondary" disabled>Bidding</button>
                    </div>
                {% else %}
                    <div style="display: inline-block">
                      <button type="button" style="font-size:15px;padding: 8px 10px; width: 100%; opacity: 0.9;"class="btn btn-secondary" disabled>Bidding</button>
                    </div>
                  {% endif %}
                  {%if not my_product.now %}
                    <div style="display: inline-block">
                      <button type="button" style="font-size:15px;padding: 8px 10px; width: 100%; opacity: 0.9;"class="btn btn-primary"disabled><span>Buy Now  </span><span style="font-size: 15px">$ {{my_product.now_price}}</span></button>
                    </div>
                  {% else %}
                  
                  <div style="display: inline-block">
                    <button type="button" style="font-size:15px;padding: 8px 10px; width: 100%; opacity: 0.9;"class="btn btn-primary" disabled><span>Buy Now  </span><i style="padding-left:5px; color:red"class="fas fa-times"></i></button>
                  
                  </div>
                  {% endif %}
                
                </div>
              </div>
            </div>
            <div style="width:800px">
                <table style="width:800px;"class="table table-bordered">
                                
                                <tbody>
                                  <tr>
                                    <th scope="row">Top Bidder</th>
                                    <td>{{top_bidder}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">End Date / Remaining Time</th>
                                    <td>{{my_product.bid_end}}<span style="margin-left:10px">/</span><span style="margin-left:10px" id="remain-time"></span></td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Start Price</th>
                                    <td>{{my_product.price}} $</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Current Price</th>
                                    <td>{{current_price}} $</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Bid Unit</th>
                                    <td>{{my_product.bid_unit}} $</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">Bidding Price</th>
                                    <td colspan="2">{{bidding_price}} $</td>
                                    
                                  </tr>
                                  
                                </tbody>
                                
                              </table>
                                <form style="display: inline-block;float:right;" action=""method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {%if my_product.sold == 1 %}
                                        <button type="submit" style="padding: 8px 10px; width: 100%; opacity: 0.9;" name="bid_price" value="{{bidding_price}}" class="btn btn-danger" onclick="return confirm('Complete Bidding?')" disabled>Bidding<i style="padding-left:5px; color:red"class="fas fa-times"></i></button>
                                        {%else%}
                                        <button type="submit" style="padding: 8px 10px; width: 100%; opacity: 0.9;" name="bid_price" value="{{bidding_price}}" class="btn btn-danger" onclick="return confirm('Complete Bidding?')">Bidding</button>
                                        {%endif%}
                                    </form>        
            </div>
      </div>
      <div class="footer">
    <div style="width:1450px;margin: 0 auto"class="footer-container">
      <div style="display:flex;margin-bottom:5px;justify-content:space-between"class="footer-top">
        <div class="web-logo" style="padding-top:10px;font-size:28px;">DAMOA<i style="color:skyblue" class="fab fa-opencart"></i></div>
        
      </div>
      <div style="display:flex;justify-content:space-between;border-top: 2px solid rgba(255, 255, 255, 0.1);"class="footer-bottom">
        <div style="margin-top:5px;font-size:15px;display:inline-block;vertical-align:center">Copyright &copy; 2020 All rights reserved </div>
        <div style="margin-top:2px"><i class="fab fa-facebook-square fa-2x"></i>
        <i style="margin-left:10px" class="fab fa-google-plus-square fa-2x"></i>
        <i style="margin-left:10px;margin-right:5px" class="fab fa-instagram fa-2x"></i></div>
      </div>
      
    </div>
  
</div>
    </div>
    
          <script>
          $(document).ready(function(){
            tid=setInterval('msg_time()',1000); 
          });
          var stDate = new Date().getTime();
          
          var edDate = '{{end_time}}';
          
          var edDate = new Date(edDate).getTime();
          
          {% comment %} var edDate = new Date({{my_product.bid_end}}).getTime();  {% endcomment %}
          var RemainDate = edDate - stDate;
          
          function msg_time() {
            var days = Math.floor(RemainDate / (1000 * 60 * 60 * 24));
            var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000*60*60));
            var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000*60));
            var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);
            
            
            
            if (RemainDate < 0) {      
              
              clearInterval(tid);   
            }else{
              m = days + "d : "+hours + "h : " +  miniutes + "m : " + seconds +"s" ; 
            
            document.getElementById('remain-time').innerHTML = m;   
              RemainDate = RemainDate - 1000; 
            }
          }
          </script>                  
{%endblock%}
{%block register%}
{% endblock %}
