
{% extends 'polls/nav.html' %}

{%block home%}
  <li class="nav-item"><a href="/polls/home/all" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="/polls/home/auction" class="nav-link">Auction</a></li>
{%endblock%}
{% block navbar %}
{% if id %}

  <ul class="nav bg-secondary">
  <li style = "text-align:center; color:black; margin-top:8px;" class="nav-item-top">
   Welcome   {{id}}
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/mypage/seller">MyPage</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/index/all">Logout</a>
  </li>
</ul>

{% else %}

  <ul class="nav bg-secondary">
  <li class="nav-item-top">
    <a class="nav-link active" href="#">Damoa First?</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/login">Login</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/signup">Sign Up</a>
  </li>
</ul>

{% endif %}


{% endblock %}
{%block mypage%}
{%load static%}
<link rel="stylesheet" href="{% static 'mypage/mypage.css'%}">
<div class = "mypage-container">
  <div>
    <div class="sidenav">
    <div style="padding-top:20px;font-size:35px;padding-bottom:20px;text-align:left; margin-left:6px;"><strong>MyPage</strong></div>
    <h3 style="text-align:left; margin-left:20px;"><strong>Selling</strong></h3>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/seller">- Registered Products</a>
    <br>
    <h3 style="text-align:left; margin-left:20px;"><strong>Buying</strong></h3>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/shoppinglist">- Shopping List</a>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/wish">- Wish List</a>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/cart">- Cart <span style="font-size: 13px;">(Buy Now)</span></a>  
    <br>
    <h3 style="text-align:left; margin-left:20px;"><strong>Services</strong></h3>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/report">- Report Contents</a>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/inquiry/buying">- 1:1 Inquiry (Buying)</a>
    <a style="text-align:left; margin-left:20px;"href="/polls/mypage/inquiry/selling">- 1:1 Inquiry (Selling)</a>
  </div>
</div>
    <div class="product-container">
    {%block mypage_product_title%}
        <div style="height:45px; padding-bottom:40px;border-bottom: 3px solid; width:100%; display:block;">
            <span><strong style="font-size:32px; padding-right:50px;">Selling</strong><span style="color:blue;">Registered Products</span></span>
        </div>
    {%endblock%}
        <div class="product-card">
        {%for list in my_product%}
        {%if list.seller == id%}
        <div class="card" style="box-shadow: 0 4px 8px 0 powderblue;border-bottom-right-radius:20px; border-bottom-left-radius:20px;width : 300px;height:480px">
                <img src="{{ list.img.url }}" alt="Denim Jeans" style="width:100%; height:220px;"/>
                <div class="card-body">
                  <div >
                    <span style="font-size: 18px;font-weight: 500; float:up;"class="card-title" >{{list.prod_name}}</span>
                    <span style="font-size:12px; color:grey; float:right">{{list.likey}}</span>
                    <i id="icon-{{list.prod_id}}"style="color:red; float:right; padding-top : 5px;padding-right:5px"class="far fa-heart fa-1x"></i>
                    
                    
                  </div>
                {%if list.sold %}
                  <span class="card-text"style ="color: red;margin-right:5px;" id="sold">Sold Out  </span>
                  {% else %}
                  <span class="card-text"style ="margin-right:5px;color: red;" id="bidding">Bidding...  </span>
                {% endif %}
                <span class="card-text"aligh="right" class="price"style ="color: grey"> {{list.current_price}} $</span>
                
                <div style="font-size: 12px; font-weight: 400;"class="card-text" id="place">{{list.place}}</div>
                <div style="font-size: 14px; font-weight: 400;"class="card-text" style="padding-bottom:10px" id="phone">{{list.phone}}</div>
                <div style="font-size:14px;font-weight: 400;"class="card-text"aligh="right" class="price"> Start : {{list.bid_start}}</div>
                <div style="font-size:14px;font-weight: 400;"class="card-text"aligh="right" class="price">/ End : {{list.bid_end}}</div>
                <div style="font-size:15px;background-color:black; margin-top:10px;width: 100%; border:0;border-radius:20px; color:white"id="history"data-toggle="modal" data-target="#exampleModalCenter{{list.prod_id}}"><span style="font-weight:500;padding-left:60px;padding-right:10px">Auction History</span><i class="fa fa-history"></i></div>
                
                  <div class="modal fade" id="exampleModalCenter{{list.prod_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Auction History</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div style="width:450px">
                            <table style="width:450px;"class="table table-bordered">
                                            
                                            <tbody>
                                              <tr>
                                                
                                                <th style="font-weight:600"scope="row">Bidder</th>
                                                <td style="font-weight:600">Price</td>
                                                
                                              </tr>
                                              {%for history in auction_history%}
                                              {%if list.prod_id == history.prod_id_id%}
                                              <tr>
                                                
                                                <th style="font-weight:500" scope="row">{{history.bid_id_id}}</th>
                                                <td style="font-weight:500">{{history.bid_price}}$</td>
                                                
                                              </tr>
                                              {%endif%}
                                              {%endfor%}
                                              {%if list.sold == 1 %}
                                              {%if list.now_sold == 1 %}
                                              <tr>
                                                
                                                <th style="font-weight:500" scope="row">{{list.now_buyer}}</th>
                                                <td style="font-weight:500">{{list.now_price}}$ <span style="font-size:12px"> (Buy Now)</span></td>
                                                
                                              </tr>
                                              {%endif%}
                                              {%endif%}
                                            </tbody>
                                            
                                          </table>
                                          {%if list.sold == 1 %}
                                              {%if list.now_sold == 1 %}
                                              <span aligh="right" class="endDate"style ="font-size:13px;color: black;font-weight:500"> <span>Sold Out : </span>{{list.now_end}}</span>
                                              
                                              {%else%}
                                              <span aligh="right" class="endDate"style ="font-size:13px;color: black;font-weight:500"> <span>Sold Out : </span>{{list.bid_end}}</span>
                                              {%endif%}
                                          {%endif%}
                                  
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                
                <div style="padding-top:10px; float:right;">
                  <form style="display: inline-block;" action=""method="post" enctype="multipart/form-data">{% csrf_token %}
                  {%if list.sold == 0 %}
                  <div style="display: inline-block;">
                    <button style="font-size:15px;opacity: 0.9;background-color:grey; border-radius:5px;margin-right:20px; width: 100%; border:0; color:white;padding:6px 8px" name="edit" value="{{list.prod_id}}">Edit</button>
                  
                </div>
                
                    
                <div style="display: inline-block;">
                  <button type="submit" name = "deleteProd" value = "{{list.prod_id}}" style="margin-top:5px;font-size:15px;opacity: 0.9;background-color:DodgerBlue; border-radius:5px;width: 100%; border:0; color:white;padding:6px 8px" onclick="return confirm('Really Delete?')">Delete</button>
                </div>
                    {%else%}
                    <div style="display: inline-block;">
                      <button type="button"class="btn btn-secondary"style="font-size:15px;background-color:grey; opacity: 0.9;border-radius:5px;margin-right:20px; width: 100%; border:0; color:white;padding:6px 8px" name="edit" value="{{list.prod_id}}" disabled>Edit<i style="padding-left:5px; color:red"class="fas fa-times"></i></button>
                    
                  </div>
                  
                      
                  <div style="display: inline-block;">
                    <button type="submit" name = "deleteProd" value = "{{list.prod_id}}" style="margin-top:5px;font-size:15px;opacity: 0.9;background-color:DodgerBlue; border-radius:5px;width: 100%; border:0; color:white;padding:6px 8px" onclick="return confirm('Really Delete?')">Delete</button></form>
                  </div>
                    {%endif%}
              </div>
                
              </div>
        </div>
      
        {%endif%}
        {%endfor%}
            
    
        </div>
    </div>
    
</div>
<div class="footer">
  <div style="width:1450px;margin: 0 auto"class="footer-container">
    <div style="display:flex;margin-bottom:5px;justify-content:space-between"class="footer-top">
      <div class="web-logo" style="padding-top:10px;font-size:28px;">DAMOA<i style="color:skyblue" class="fab fa-opencart"></i></div>
      
    </div>
    <div style="display:flex;justify-content:space-between;border-top: 2px solid rgba(255, 255, 255, 0.1);"class="footer-bottom">
      <div style="margin-top:5px;font-size:15px;display:inline-block;vertical-align:center">Copyright &copy; 2020 All rights reserved </div>
      <div style="margin-top:2px"><i class="fab fa-facebook-square fa-2x"></i>
      <i style="margin-left:10px" class="fab fa-google-plus-square fa-2x"></i>
      <i style="margin-left:10px;margin-right:5px" class="fab fa-instagram fa-2x"></i></div>
    </div>
    
  </div>
  
</div>
<!-- <script src="{% static 'mypage/mypage.js'%}"></script> -->

{%endblock%}


