
{% extends 'polls/nav.html' %}
{% load static %}
{%block home%}
  <li class="nav-item"><a href="/polls/home/all" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="/polls/home/auction" class="nav-link">Auction</a></li>
{%endblock%}
{% block navbar %}
{% if id %}

  <ul class="nav bg-secondary">
  <li style = "text-align:center; color:black; margin-top:8px;" class="nav-item-top">
   Welcome   {{id}}
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/mypage/seller">MyPage</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/index/all">Logout</a>
  </li>
</ul>

{% else %}

  <ul class="nav bg-secondary">
  <li class="nav-item-top">
    <a class="nav-link active" href="#">Damoa First?</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/login">Login</a>
  </li>
  <li class="nav-item-top">
    <a class="nav-link" href="/polls/signup">Sign Up</a>
  </li>
</ul>

{% endif %}

{% endblock %}
{%block register%}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
{%load static%}
<link rel="stylesheet" href="{% static 'register/register.css'%}">
<div class="register-container">
<div class="card" style="margin-bottom:200px;width:850px;margin:0 auto;">
  <div class="card-header">
    <h4>Product Register<span style="margin-left:18px;font-size:15px;color:red">{%if error %}{{error}}{%endif%}</span></h4>
  </div>
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %} 
   <div style="width:750px;">
   <div style="display: inline-block;padding-right : 30px;"class="form-group">
  <label style="padding-bottom:15px"for="inputZip">Category</label>
  <div style="margin-left:35px;">
    <select style="width:290px;"class="custom-select" name="category">
      <option selected>Clothes</option>
      <option value="IT">IT Device</option>
      <option value="Shoes">Shoes</option>
      <option value="Books">Books</option>
      <option value="Furniture">Furniture</option>
      <option value="Etc">Etc</option>
    </select>
</div>
    </div>
    <div style="padding-right : 30px;display: inline-block"class="form-group">
      <label for="inputEmail4">Product Name</label>
      <input style="width:290px;"type="text" class="form-control" name="name" placeholder="Product Name">
    </div>
    
  <div style="display: inline-block;padding-right : 30px;" class="form-group">
    <label for="inputAddress">Starting Price($)</label>
    <input style="width:290px;"type="text" class="form-control" name="price" placeholder="Starting Price">
    
  </div>
  <div style="display: inline-block" class="form-group">
    <label style="padding-bottom:15px"for="inputAddress">Bid Unit($)</label>
    <div style="margin-left:35px;">
      <select style="width:100px;"class="custom-select" name="bid_unit">
        <option selected>1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
  </div>
    
  </div>
  
  <div style="padding-right : 50px;display: inline-block" class="form-group">
    <label for="example-datetime-local-input" >Bid Start</label>
    <input name="start"class="form-control" type="datetime-local"  id="example-datetime-local-input">
    
  </div>
  <div style="display: inline-block" class="form-group">
    <label for="example-datetime-local-input" >Bid End</label>
      <input name="end"class="form-control" type="datetime-local"  id="example-datetime-local-input">
    
  </div>

  <div style="display: inline-block;padding-right : 70px;"class="form-group">
    <div>
      <label for="inputAddress">Buy It Now</label>
    </div>
        <div style="margin-left:35px;"class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="possible" name="now" class="custom-control-input" value="possible">
    <label class="custom-control-label" for="possible">Possible</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="impossible" name="now" class="custom-control-input" value="impossible">
    <label class="custom-control-label" for="impossible">Impossible</label>
    </div>
  </div>
  <div id = "now_input" class="form-group" style="display: none;">
    <label id="now_title" for="inputAddress2">Buy It Now Price($)</label>
    <input type="text" class="form-control" name="now_price" placeholder="Buy It Now Price">
  </div>
  <div style="width:500px;display: inline-block;padding-right:30px"class="form-group">
    <label for="inputPassword4">Trading Place</label>
    <input type="text" onclick="sample5_execDaumPostcode()" class="form-control" id="place"name="place" placeholder="Trading Place">
    <!-- <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"> -->
  </div>

<div style="width:200px;display: inline-block;"class="form-group">
  <label for="inputAddress">Phone Number</label>
  <input type="text" class="form-control" name="phone" placeholder="Phone Number">
</div>

  
  <div style="margin-right:200px;width:450px;display:inline-block"class="form-group">
    <label for="inputAddress2">Upload File</label>
    <div style="margin-left:35px;">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="img">
        <label class="custom-file-label" for="customFile"></label>
      </div>
    </div>
  </div>
  <button style="display:inline-block;"type="submit" class="btn btn-primary" onclick="return confirm('Register Product?')">Register</button>
  
  <!-- <div>
    <button style="display:block;margin:0 auto"type="submit" class="btn btn-primary" onclick="return confirm('Register Product?')">Register</button>
  </div>   -->
</div>
</form>
    
  </div>
</div>
<div class="footer">
  <div style="width:1450px;margin: 0 auto"class="footer-container">
    <div style="display:flex;margin-bottom:5px;justify-content:space-between"class="footer-top">
      <div class="web-logo" style="padding-top:10px;font-size:28px;">DAMOA<i style="color:skyblue" class="fab fa-opencart"></i></div>
      
    </div>
    <div style="display:flex;justify-content:space-between;border-top: 2px solid rgba(255, 255, 255, 0.1);"class="footer-bottom">
      <div style="margin-top:5px;font-size:15px;display:inline-block;vertical-align:center">Copyright &copy; 2020 All rights reserved </div>
      <div style="margin-top:2px"><i class="fab fa-facebook-square fa-2x"></i>
      <i style="margin-left:10px" class="fab fa-google-plus-square fa-2x"></i>
      <i style="margin-left:10px;margin-right:5px" class="fab fa-instagram fa-2x"></i></div>
    </div>
    
  </div>
  
</div>
</div>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db67d2251911b514d0b6def8481ba4e0&libraries=services"></script>
<script>
  var mapContainer = document.getElementById('map'),
  mapOption = {
    center: new daum.maps.LatLng(37.537187, 127.005476),
    level:5
  };
   var map = new daum.maps.Map(mapContainer, mapOption);
   var geocoder = new daum.maps.services.Geocoder();
    var marker = new daum.maps.Marker(
    {
       position: new daum.maps.LatLng(37.537187, 127.005476),
       map: map
     });
     function sample5_execDaumPostcode() { new daum.Postcode({ oncomplete: function(data) {
       var fullAddr = data.address;
       var extraAddr = '';
        if(data.addressType === 'R'){
           if(data.bname !== ''){ extraAddr += data.bname; }
            if(data.buildingName !== ''){ extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName); }
            fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : ''); }
            document.getElementById("place").value = fullAddr;
            geocoder.addressSearch(data.address, function(results, status) {
              if (status === daum.maps.services.Status.OK) { var result = results[0];
                 var coords = new daum.maps.LatLng(result.y, result.x);
                  mapContainer.style.display = "block"; 
                  map.relayout();
                   map.setCenter(coords);
                   marker.setPosition(coords)
                 }
               });
             }
           }).open();
         }
       </script>​
<script src="{% static 'register/register.js'%}"></script>

{%endblock%}